<div class='row' style='height:100%;'>
	<div class='col-sm-12 wholePage dark' ng-hide='hideLoginScreen'>
		<div>
			<div class="wholePageForm">
				<h3 class="title">What's your nickname?</h3>
				<input class="usernameInput" type="text" maxlength="14"ng-model='userName' ui-keypress="{13:'newUserNameSubmitted()'}"/>
			</div>
		</div>
	</div>
	<div class='col-sm-12 wholePage' ng-show='hideLoginScreen'>
		<div class='row' style='height:100%;'>
			<div class='col-sm-8' style='height:100%;'>
				welcome {{userName}}, you are at <pre>{{usersPosition | json}}</pre>
			</div>
			<div class='col-sm-4' style='height:100%;'>
				<div chatroom username='username'></div>
			</div>
		</div>
	</div>
</div>